.green {
    background-color: green;
}
.red {
    background-color: red;
}

th {
    background-color: gray
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img {
    height: 17px;
    vertical-align: text-top;
}